####IMPORTANT Pre-Lab 4:  **Convert your Lab 3 file into pdf**

**Enter these Commands in your terminal below**

jupyter nbconvert ~/Downloads/"Lab3-Descriptive Statistics-Yourname.ipynb" --to pdf

> **checkpoint1: Upload this file into your Lab3 dropbox before you proceed**

> **once successful you are going to submit the documents after converting it to this format only from this point onwards**

##### Objective: 
> **Setup the database enviroment using SQLite3 (client / Server)  
> Create Database in SQLite3 environment  
> Connect to the external database using Python  
> Update database / Execute queries using Python**    


**Part 1: Create the Database

We are going to use SQLite to connect to the database. 
> SQLite is a library that implements a self-contained transactional SQL database engine that eliminates the need for an SQL server. A simple SQLite utility called sqlite3 can be installed in the Raspberry Pi. SQLite greatly simplifies the SQL database process.   
> Also install csvkit, a set of tools designed to convert various databases to the .csv


Step 1: Set up the working environment and Work with SQLite.

>>**IMPORTANT NOTE**: If you are working with your raspberry pi, you can use STEPS 1-3 in your raspberry pi terminal window and setup the SQLite3 environment and create databases.

>> However, right now we will use our Ubuntu termina window  

a) Install SQLite & CSV kit

**apt-get update  
apt-get -y install sqlite3**

After the installation process finishes, install cvskit by running the code cell below:  
**pip install csvkit**

b) Create a new SQLite database named **starfan.db**. To create the new database, execute the command below in the terminal window:

**sqlite3 starfan.db**

SQLite version 3.13.0 2016-05-18 10:57:30
Enter ".help" for usage hints.

If you get above output, your database is created successfully

c) create two tables in the starfan.db
**Ensure you are at the sqlite3> prompt**

> create table starwars(warsid integer,name varchar(20),title varchar(20),phone integer);  
> create table technology(deptid integer,name varchar(20),phone integer);

Q1: What does Varchar(20) mean in the above two tables? (2 points)

Answer:

to exit sqlite> type **.quit**

Check into your terminal if the database is created or not: **ls -l starfan.db**

##### STEP 2: Re-enter database and query
> execute the command in Step 1b) above  
a) Enter data into the database (ensure you have **sqlite>** prompt in the terminal window)  
> **insert into starwars values(1,'Han Solo','Bounty Hunter',5534667578);**




b) Add some more data into database
1.  Create a csv file using your favorite editor from the terminal window  
 mine is **gedit**  
2.  Type in **gedit starwars.csv** and copy paste the values given below into the editor  

warsid,name,title,phone  
101,Han Solo,Bounty Hunter,5556667578  
102,Leia Skywalker,Princess,5556542398  
103,Luke Skywalker,Jedi,5558963267  
104,Obi-Wan Kenobi,Jedi,5558963276  
105,Anakin Skywalker,Sith Lord,5553477621  
106,Jabba The Hutt,Gangster,5556613456  
107,Greedo,Debt Collector,5552360918  
108,R2D2,Astro Droid,5555210125  
109,C3PO,Protocol Droid,5556633345
110,Queen Apailana,Queen,345671235  
111,AP-5,Droid,3450987345  
112,Doctor Aphra,Human,7056789001  

3. Make sure there is not empty space in the editor. Save and close  

4. Check the contents of the file in terminal. Use **cat /path/starwars.csv**

> The contents of the file can also be viewed in the jupyter terminal. Execute the above command in the code cell below

In [36]:
# view the contents of the file

c) Import data into database.  
> Since we already have the table starwars in the database, lets remove it first.
Check to see the tables created earlier
> sqlite> .tables
starwars   department  

> 1. Delete the starwars table **drop table starwars;**
> 2. Verify the table is dropped **.tables**  
> 3. use the csvkit to import the table into the database: **csvsql --db sqlite:////path/starfan.db --insert /path/starwars.csv**  
> 4. Verify that the table is inserted

d) Query the database.

1. From the terminal, enter the sqlite3 prompt while selecting the starfan.db database: sqlite3 starfan.db

sqlite>

2. List all the contents of the starwars table: **sqlite> select * from starwars;**

3. Execute another Query and test your dataset
**sqlite> select name from starwars where title='Droid';**

Q2: Can you build a query to display the names of the bounty hunters in the starwars table? (1 point)

Answer:

#### Part 3: Bring in Python

In [12]:
# import sqlite3 (library to talk to database) and pandas as pd (to visulize data)
import sqlite3
import pandas as pd

##### Step 2: Connect to the Database

To use the sqlite3 Python object to open a connection, call the method connect of the object sqlite3. This method takes a string containing the name of the database for which the connection is needed.

**sqlite3.connect("/path/starfan.db")**

In [15]:
# Save the above connection in conn variable (ensure correct path before you run this cell)
conn = sqlite3.connect("/path/starfan.db")

> Now that the connection to the database is established,  accessible via connvariable, we need a way to navigate through the database.   

> Use **cursor()** which acts as a moveable pointer inside the database. It enables us to navigate through tables and records.   

> Cursor specifies what cell (table, column, and row) is to be read from or written to.   

> To create the cursor, call the method cursor() and established database connection.  

**conn.cursor()**  <- type this in the code cell and observe what happens

###### Use another variable to store the details of the newly created cursor object. The line of code below stores the details of the cursor in the cur variable:

In [22]:
cur = conn.cursor()

#### Step 3: Execute a query on Database table

In [23]:
query = "SELECT name FROM starwars;"

> The results of the query are stored in the cur object. To visualize the results, we must iterate through the cur object, printing out each row.  
> Run the code cell below to iterate through cur and print its contents:

In [34]:
output = cur.execute(query)

> Diplay the output of the above query using output.fetchall() method

In [37]:
output.fetchall()

Q3: Challenge (not optional - 2 points each)
    
1) Provide the code to query the names of all the princesses.

2) Provide the code to query the names of all the princesses and the debt collectors.

3). Provide the code to query the names and phone numbers of the droids?

**Submission Instruction:**
    1. Rename as per previous lab instructions
    2. Go back to the top of the document, convert file into pdf and submit in dropbox.